body{
    background-color: burlywood;
}

.quiz{
    margin:3vh auto;
    /* border:5px solid red; */
    background-color: rgb(65, 49, 29);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    height: 80vh;
    width: 90%;
}
.question{
    border-radius: 4px;
    text-align: center;
    font-size: 40px;
    line-height:140px; 
    background-color: white;
    color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
}
.ans1, .ans2, .ans3, .ans4{
    margin-top: 4px;
    border-radius: 30px;
    background-color: black;
    background-color: rgb(5, 5, 90);;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
}
.ans1, .ans2, .ans3, .ans4:hover{
    cursor: pointer;
}
.bottom{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
}
.next{
    background-color:rgb(5, 5, 90);
    margin-left: 12px;
    color: white;
    width: 10vw;
    text-align: center;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;

}
.previous{
    color: white;
    background-color:rgb(5, 5, 90);
    width: 10vw;
    text-align: center;
    font-size: 15px;
    margin-right: 12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;

}
#select{
    border: 2px solid white;
}
