body {
  margin: 0;
  background-color: coral;
}

.app{
    border:12px solid black;
    height:400px;
    width: 400px;
    /*color:blue;*/
    display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     /*margin:10px auto;*/
     margin:150px auto;
}
.black{
    background-color: black;
    /*border:2px solid red;*/

}
.white{
    background-color: white;
     /*border:2px solid red;*/


}
.even{
    display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     height:50px;
     width:400px;


}
.odd{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     height:50px;
     width:400px;


}